@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hello World from .NET 8</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <hr />
    <div>Host operating system: @Model.OSVersion</div>
    <br />
    <br />
    <h3>Headers</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Header</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (key, value) in Model.RequestHeaders.OrderBy(pair => pair.Key)) 
            {
                <tr>
                    <td>@key</td>
                    <td>@value</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
    <h3>Claims</h3>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Claim</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var (key, value) in Model.UserClaims.OrderBy(pair => pair.Key))
            {
                <tr>
                    <td>@key</td>
                    <td>@value</td>
                </tr>
            }
        </tbody>
    </table>
</div>
